body {
  background: #87b5b5;
  font-family: 'Russo One', sans-serif;
}

.title {
  text-align: center;
}

.wrapper {
  align-items: center;
  align-content: center;
  width: 70%;
  margin: auto;
}

.editor-wrap textarea {
  width: 99%;
  min-height: 200px;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.875rem;
}

.toolbar {
  background-color: #4aa3a3;
  padding: 0.3rem 0.2rem;
  width: 99%;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  font-size: 1rem;
}

#preview {
  padding: 0 1rem;
}

@media screen and (max-width: 650px) {
  .preview-wrap {
    width: 90vw;
  }
}
@media screen and (max-width: 850px) {
  .preview-wrap {
    max-width: 630px;
  }
}

.preview-wrap {
  max-width: 800px;
  margin: 1.25rem auto;
  min-height: 200px;
  overflow-wrap: break-word;
}

.preview-wrap, .editor-wrap, textarea {
  background-color: #c0d8d8;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
}

img {
  width: 80%;
  margin: 20px 0px;
}
